.App {
  margin-bottom: 2em;
  padding: 1.6em;
  border-radius: 2em;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-btn {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.App-container {
  text-align: center;
  margin-top: 50px;
}

.App-counter-value {
  display: inline-block;
  width: 120px;
  font-size: 24px;
  font-weight: bold;
}
